:root {
  --primary-background-color: #202c37
  --primary-el-color: #2b3945;
  --primary-text-color: #ffffff;
  --primary-shadow-color: #252525;
}

* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: 'proxima-nova', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'grid.styl'

body {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  font-display: swap;
}
